@import "~assets/css/bulma-variables";

body {
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;

  .box-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.buttons {
  margin-top: 1rem !important;
}

.buttons--end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons--space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-buttons {
  display: inline-flex;
  gap: 5px;
}
