@import "~assets/css/bulma-variables";

body {
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;

  .box-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.buttons {
  margin-top: 1rem !important;
}

.buttons--end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons--space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-buttons {
  display: inline-flex;
  gap: 5px;
}

.fs-file {
  display: flex;
  flex-direction: row;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: $primary-light;

  .fs-file__header {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
  }

  .fs-file__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fs-file__control {
    .icon {
      cursor: pointer;
    }
  }
}

.context-menu__item {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.b-checkbox.checkbox input[type=checkbox] + .check {
  background: white;
}
