<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
</head>
<body>
<h1>Data collector</h1>
<div id="graph" style="width: 800px;height: 800px;"></div>
<script>
  const graph = document.getElementById('graph');

  const eegChannelsCount = 15
  let traces = []
  let subplots = []

  for (let i = 0; i < eegChannelsCount; i++) {
    traces[i] = {
      x: [],
      y: [],
      xaxis: `x${i + 1}`,
      yaxis: `y${i + 1}`,
      type: 'scatter'
    }
  }

  const layout = {
    grid: {
      rows: eegChannelsCount,
      columns: 1,
      pattern: 'independent',
      roworder: 'top to bottom'
    }
  };

  Plotly.newPlot(graph, traces, layout);

  const source = new EventSource("/stream")
  source.addEventListener("eeg_update", function (event) {
    let eegData = JSON.parse(event.data);

    const n = 250 * 3
    for (let i = 0; i < eegChannelsCount; i++) {
      traces[i].x = traces[i].x.concat(eegData[30]).slice(-n)
      traces[i].y = traces[i].y.concat(eegData[i + 1]).slice(-n)
    }
    Plotly.react(graph, traces, layout);
  });
</script>
<script>

</script>
</body>
</html>